<div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Wind PetShop</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="toggleMenu()"
        aria-label="Toggle navigation"
      >
        <span
          class="navbar-toggler-icon"
          [ngClass]="{ 'expanded-icon': isMenuExpanded }"
        ></span>
      </button>
      <div
        class="navbar-collapse"
        [ngClass]="{ collapse: !isMenuExpanded && isMobile }"
      >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/myfamily">My Family</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Loading Overlay -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Content -->
  <div class="container-fluid mt-4">
    <router-outlet
      (activate)="onRouteActivate()"
      (deactivate)="onRouteDeactivate()"
    ></router-outlet>
  </div>

  <!-- Move to Top Button -->
  <button
    class="btn btn-primary position-fixed bottom-0 end-0 m-3 rounded-circle"
    *ngIf="showMoveToTop"
    (click)="scrollToTop()"
    style="
      z-index: 1000;
      width: 50px;
      height: 50px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <i class="bi bi-arrow-up" style="font-size: 1.5rem"></i>
  </button>
</div>
